@use "styles/abstracts/mixins";

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    @include mixins.text-gradient(
        100px,
        rgba($color: red, $alpha: 0.75),
        rgba($color: blue, $alpha: 0.85),
        rgba($color: green, $alpha: 1)
    );
}