@use "./styles/themes/dark";
@use "./styles/abstracts/mixins";

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(135deg,
            rgba($color: dark.$background-primary-color, $alpha: 1) 0%,
            rgba($color: dark.$background-secondary-color, $alpha: 1) 50%,
            rgba($color: dark.$background-tertiary-color, $alpha: 1) 100%
    ) no-repeat fixed;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: dark.$accent-primary-color;
    text-decoration: inherit;
    &:hover {
        color: darken(dark.$accent-primary-color, 15%);
    }
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    @include mixins.text-shadow(2px, 15px, rgba($color: dark.$accent-primary-color, $alpha: 0.75));
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: left;
}