@use "../../styles/themes/dark";

.question,
.answer,
.loading {
    display: flex;
    flex-direction: column;
    width: 70%;
    p,
    span {
        margin-top: 0;
        text-align: start;
    }
    span,
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.question {
    align-items: flex-start;
    margin-right: auto;
}

.answer,
.loading {
    align-items: flex-end;
    margin-left: auto;
    & > *:last-child {
        text-align: left;
    }
}

h3 {
    [class*="question"] &,
    [class*="answer"] & {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-color: dark.$accent-primary-color;
        margin-bottom: 12px;
    }
    [class*="question"] & {
        margin-top: 0;
    }
}