@use "../themes/dark";

button {
    border-radius: 0.4rem;
    border: 1px solid dark.$auxiliary-secondary-color;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: dark.$auxiliary-secondary-color;
    background-color: rgba($color: dark.$auxiliary-primary-color, $alpha: 0.2);
    cursor: pointer;
    transition: border-color 0.25s;
    min-height: 48px;
    &:not(:disabled):hover {
        color: dark.$accent-primary-color;
        border-color: dark.$accent-primary-color;
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
    &:disabled {
        cursor: not-allowed;
        color: dark.$auxiliary-tertiary-color;
        background-color: rgba($color: dark.$auxiliary-primary-color, $alpha: 0.1);
        border-color: dark.$auxiliary-tertiary-color;
    }
    [class*="chatInput"] &,
    [class*="chatOutput"] &,
    div[id*="rating"] & {
        color: dark.$background-primary-color;
        background-color: dark.$accent-primary-color;
        &:not(:disabled):hover {
            background-color: darken(dark.$accent-primary-color, 15%);
            color: dark.$auxiliary-secondary-color;
        }
        &:disabled {
            cursor: not-allowed;
            color: dark.$auxiliary-tertiary-color;
            background-color: rgba($color: dark.$auxiliary-primary-color, $alpha: 0.1);
            border-color: dark.$auxiliary-tertiary-color;
        }
    }
    [class*="chatOutput"] & {
        margin: {
            left: auto;
            bottom: 20px;
        }
    }
}

.button-box {
    display: flex;
    justify-content: center;
    button {
        margin: 0 8px;
    }
}