@use "../themes/dark";

button {
    border-radius: 8px;
    border: 1px solid dark.$auxiliary-secondary-color;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: dark.$auxiliary-secondary-color;
    background-color: rgba($color: dark.$auxiliary-primary-color, $alpha: 0.2);
    cursor: pointer;
    transition: border-color 0.25s;
    &:hover {
        color: dark.$accent-primary-color;
        border-color: dark.$accent-primary-color;
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}