$background-primary-color: #333333;
$background-secondary-color: #003838;
$background-tertiary-color: #152a15;
//$main-primary-color: #152332;
//$main-secondary-color: #35506E;
//$main-tertiary-color: #93B7BE;
$accent-primary-color: #32CD32;
$auxiliary-primary-color: #000000;
$auxiliary-secondary-color: #FFFFFF;