.createUser {
    display: flex;
    flex-direction: column;
    & > label {
        align-self: flex-start;
    }
    input {
        padding: 4px 8px;
        margin-bottom: 8px;
    }
    div[class*="setting"] {
        margin-bottom: 8px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}