@use "../themes/dark";

form {
    select {
        padding: 4px;
        border-radius: 0.4rem;
        min-width: 150px;
        width: 100%;
        option {
            background-color: dark.$background-primary-color;
        }
    }
    input {
        border-radius: 0.4rem;
    }
}